<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
</head>
<body>

    <h1>Método Simplex</h1>

    <form method='POST' action='/calcular'>
      {% csrf_token %}
      <label for="exampleInputEmail1" class="form-label">Función Objetivo</label>

        <div class="mb-3">
          <div >
          {% for i in v %}
              <input type="number" name='obj-{{i}}'placeholder="input number (ejm1..)" required>X{{i}}
              {% if i|add:1 != v|length %}
                <span>+</span>
              {% endif %}
            {% empty %}
            <li>Sorry, you no choose variables go back (/) </li>
          {% endfor %}
          </div>
        </div>
        <hr/>
        <label class="form-label">Restricciones</label>
        {% for j in r %}
        <div >
          {% for i in v %}
              <input type="number" name='res{{j}}-{{i}}'placeholder="input number (ejm1..)" required>X{{i}}
              {% if i|add:1 != v|length %}
                <span>+</span>
              {% else %}
                <span> < =</span>
              <input type="number" name='res{{j}}-rta'placeholder="input number (ejm1..)" required>
              <hr>
              {% endif %}
            {% empty %}
            <li>Sorry, you dont´t choose a number of restrictions go back (/) </li>
          {% endfor %}
        </div>
        {% endfor  %}
        <br>
        <button type="submit" class="btn btn-primary">Calcular</button>
      </form>
    <script src="{% static "js/index.js" %}"></script>
    
</body>
</html>