<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
</head>
<body>

    <h1>Método Simplex Solution</h1>

    <div class="container">
    
    
<table class="table">
        <thead>
        
          

          <tr>
            <th scope="col">Iteracion</th>
            <th scope="col">Columna Pivote</th>
            <th scope="col">Fila Pivote</th>
            <th scope="col">Matriz</th>
          </tr>
        </thead>
        <tbody>
          {% if solution %}
        
          {% for solucion in solution %}
          <tr>
            <th scope="row">{{ solucion.iter }}</th>
            <td>{{ solucion.pivot }}</td>
            <td>{{ solucion.pivot }}</td>
            <td>{{ solucion.tableu }}</td>
          </tr>

          {% endfor %}

          {% else %}

          <h1>No se pudo cargar o encontrar solucion</h1>

          {% endif %}

        </tbody>
      </table>

      </div>
</body>
</html>