<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static " css/style.css" %}">

</head>

<body>

  <h1 style="padding-top: 50px; padding-bottom: 50px">Método Simplex Solución</h1>

  <div class="container">
    {% for solucion in solution %}

    <table class="table">

      <thead>
        <tr>
          <th scope="col">Iteración</th>
          <th scope="col">Columna Pivote</th>
          <th scope="col">Fila Pivote</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <TD>{{ solucion.iter|add:"1" }}</TD>
          <TD>{{ solucion.pivot.0 }}</TD>
          <TD>{{ solucion.pivot.1 }}</TD>
        </tr>
      </tbody>
    </table>

    <p class="h5">Matriz</p>

    <TABLE class="table table-bordered">
      <thead>
        <TR>
          <th>Z</th>
          {% for i in x %}
          <th>X{{i}}</th>
          {% endfor %}
          {% for j in tam %}
          <th>S{{j}}</th>
          {% endfor %}
          <th>R</th>
        </TR>
      </thead>
      <tbody>
        {% for k in solucion.tableu %}

        <TR>
          {%for l in k%}
          <TD>{{ l }}</TD>
          {%endfor%}
        </TR>

        {% endfor %}
      </tbody>



    </TABLE>

    {% endfor %}

    <div class="alert alert-primary" role="alert">
      <p class="h4">Solución</p>
      {{response}}
    </div>


    <form method='GET' action="/">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" style="margin: 20px;">Calcular una función nueva</button>
    </form>



  </div>



</body>

</html>